@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* ---header--- */
header{
  position: fixed;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 5px #0000005b;
  width: 100%;
}

/* alerta de promocao */
#alert-sale{
  background-color: #005CFF;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 5px;
}

#discount{
  background-color: #6220C1;
  padding: 0 5px;
  border-radius: 4px;
}

#coupon{
  font-weight: 400;
}

/* header mobile */
#c-header-mobile{
  padding: 16px;
}

#cotainer1-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu{
  font-size: 22px;
}

.logo{
  width: 148px;
}

.c-cart{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-cart > i {
  font-size: 22px;
  cursor: pointer;
}

.qnt-products{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005CFF;
  color: #fff;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  font-size: 12px;
  position: absolute;
  top: -15px;
  right: -10px;
}

.container-search{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px;
  position: relative;
}

.i-text{
  border: none;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.i-text::placeholder{
  color: #000;
  font-size: 14px;
}

.i-text:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.container-search > button {
  padding: 3px;
  display: flex;  
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}

.search-result{
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -55px;
  display: none;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #838383;
}

.subject{
  font-weight: 700;
}

/* header desktop */
#c-header-desktop{
  display: none;
  padding: 16px 16px 0px 16px;
  width: 100%;
  max-width: 1260px;
  margin: auto;
}

#cotainer2-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#cotainer2-header{
  display: flex;
}

#container-logo{
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
}

.container-search-desktop{
  width: 100%;
  max-width: 595px;
  margin-top: 0;
}

.i-search-desktop{
  width: 100%;
}

#search-icon{
  cursor: pointer;
}

#container-user{
  display: flex;
  gap: 25px;
}

#c-user{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

#c-user > i {
  font-size: 22px;
  color: #005CFF;
  cursor: pointer;
}

#cart-icon{
  cursor: pointer;
}

/* nav desktop */
#nav-desktop{
  margin-top: 20px;
}

#nav-list{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

#nav-list > li{
  cursor: pointer;
  padding-bottom: 16px;
}

#nav-list > li:hover {
  color: #005CFF;
  font-weight: 700;
}

#primary-li{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

#menu-desktop{
  width: 14px;
}

/* collapse nav */
#collapse-nav-header{
  display: none;
  position: absolute;
  bottom: -330px;
  width: 100%;
  height: 330px;
  max-width: 1260px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 5px 5px #00000027;
}

#collapse-items {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  min-width: 235px;
  height: 100%;
  font-size: 14px;
  padding: 16px;
  gap: 12px;
  overflow-y: scroll;
}

#collapse-items::-webkit-scrollbar{
  width: 5px;
}

#collapse-items::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}

#collapse-items::-webkit-scrollbar-thumb {
  background-color: #CECECE;
  border-radius: 5px;
}

#collapse-items > span {
  cursor: pointer;
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#collapse-items > span:hover{
  color: #005CFF;
  font-weight: 700;
}

#collapse-categories-root{
  padding: 20px;
}

#collapse-categories-title {
  display: none;
  margin-bottom: 16px;
  font-size: 16px;
}

#collapse-categories{
  width: 100%;
  display: flex;
  gap: 150px;
}

.categories{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 12px;
}

.categories > span {
  color: #656565;
  cursor: pointer;
}

.categories > span:hover{
  color: #005CFF;
  font-weight: 700;
}

#collapse-image{
  padding: 16px;
  position: relative;
  width: 400px;
}

#div-image{
  position: absolute;
  top: 16px;
  right: 20px;
  background-image: url('../assets/image2.webp');
  background-size: cover;
  width: 235px;
  height: 300px;
  border-radius: 10px;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

#div-image > p{
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 9px #000;
}

#div-image > p > span{
  font-weight: 700;
}

#div-image > input{
  width: 116px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 9px #000;
  box-shadow: 0 0 9px #000;
  cursor: pointer;
}

#div-image > input:hover{
  background-color: #005effc4;
  border: none;
  transition: .2s;
}

/* ---main--- */
/* carroussel */
#carousel{
  width: 100%;
  position: relative;
  overflow: hidden;
}

#slides{
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide{
  background-color: #E7E7EA;
  min-width: 100%;
  height: 305px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.background-slide{
  width: 100%;
  height: 100%;
  background-image: url('../assets/imageCarousel.webp');
  background-size: cover;
  background-position: center right;
}

.infos-sale{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: flex-start;
}

.super-sale{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 40px;
}

.super-sale > *:nth-child(2){
  font-weight: 300;
}

.infos-sale{
  font-weight: 700;
}

.infos-sale> *:nth-child(2){
  color: #005CFF;
  font-size: 12px;
}

.infos-sale> *:nth-child(3){
  color: #005CFF;
  font-size: 32px;
}

#navigation-carousel{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.point{
  width: 8px;
  height: 8px;
  background: #838383;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background: #303030;
}

/* carroussel lancamentos */
.carousel-launch{
  margin: 50px auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1260px;
  position: relative;
}

.arrow{
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: 1px solid #005CFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #005CFF;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  user-select: none;
  box-shadow: 0 5px 5px #000;
  transition: .4s;
}

.arrow-left{
  left: 2px;
  box-shadow: 0 5px 4px #00000041;
}

.arrow-right{
  right: 2px;
  box-shadow: 0 5px 4px #00000041;
}

.launch-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 15px;
}

.launch-title > *:nth-child(2){
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.slides-launch{
  width: 100%;
  position: relative;
  overflow-x: scroll;
}

.slides-launch::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.slide-card{
  display: flex;
  gap: 10px;
}

.card-product{
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 10px;
  min-width: 170px;
}

.img-product{
  position: relative;
}

.img-product > img{
  width: 100%;
}

.img-product > span{
  background-color: #00264E;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  padding: 6px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.infos-product{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infos-product > h3{
  font-weight: 400;
  font-size: 14px;
}

.price-product{
  display: flex;
  flex-direction: column;
  position: relative;
}

.price-product > *:nth-child(1){
  font-size: 12px;
  text-decoration: line-through;
}

.price-product > *:nth-child(2){
  font-weight: 700;
}

.price-product > div{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5EC0BE;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
}

.payment-option{
  font-size: 12px;
}

.payment-option > span{
  font-weight: 700;
}

.btn-buy{
  width: 100%;
  border: none;
  background-color: #005CFF;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.btn-buy:hover{
  background-color: #004dd3;
}

.carousel-launch-secondary{
  display: none;
}

/* section descricao */
#c-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.description-card{
  max-width: 1177px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.description-image > img{
  width: 100%;
}

.description{
  padding: 22px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.description > p{
  font-size: 14px;
}

#c-description-color{
  width: 100%;
  height: auto;
  background-color: #DEDEDE;
}

.description-image2{
  padding: 22px 16px;
  max-width: 1177px;
}

.description2{
  max-width: 1260px;
  padding: 0 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4F4F4F;
}

.sub-description{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 0;
}

.sub-description-image{
  min-width: 60px;
  min-height: 60px;
  background-color: #005CFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sub-description-image > img{
  width: 30px;
}

.sub-description > p{
  font-size: 14px;
  text-align: left;
}

/* section disponibilidade */
#c-availability{
  height: 390px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

#background{
  position: absolute;
  background-image: url('../assets/main-image2.webp');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

#availability-text {
  width: 100%;
  padding: 15px 0;
  background-color: #005CFF;
  color: #fff;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

/* section cadastro */
#c-register{
  padding: 20px 16px;
  margin: auto;
  width: 100%;
  max-width: 1260px;
}

#register-title {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#register-title > span {
  color: #005CFF;
}

#form-register{
  background-color: #DEDEDE;
  border-radius: 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#name, #email {
  border: none;
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  max-width: 500px;
}

#i-agree{
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #656565;
}

#i-agree > input, label{
  cursor: pointer;
}

#i-agree > label > span{
  text-decoration: underline;
}

#form-register > input[type="button"] {
  max-width: 500px;
}

/* ---footer--- */
/* section redes sociais */
footer{
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#c-footer1{
  width: 100%;
  max-width: 1177px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

#social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
}

#links-social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* nav footer mobile */
#nav-footer-mobile{
  width: 100%;
}

.collapse{
  width: 100%;
  border: 1px solid #DDDDDD;
}

.collapse-button{
  padding: 14px 12px;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.collapse-button > span {
  color: #005CFF;
}

.button-active{
  rotate: 180deg;
}

.collapse-content{
  display: none;
  line-height: 25px;
  padding: 5px 14px 12px 12px;
}

.collapse-active{
  display: block !important;
}

.collapse-topics {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.topic-emphasis {
  font-weight: 700;
}

.collapse-p {
  font-size: 12px;
  line-height: 18px;
}

/* nav footer desktop */
#nav-footer-desktop{
  display: none;
}

#paymentMethods{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0 20px 0;
}

#paymentMethods > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* nav desktop */
#nav-footer-desktop{
  display: none;
  width: 100%;
  padding: 0 16px;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}

.c-navs{
  line-height: 28px;
}

.c-navs > h4{
  margin-bottom: 10px;
}

/* section projeto */
#c-project{
  width: 100%;
  background-color: #fff;
  padding: 40px 16px;
}

#project-p{
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 1177px;
}

#project-logos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

/* responsividade */
@media (min-width: 768px) {

  /* ---header--- */
  /* header mobile */
  #alert-sale{
    flex-direction: row;
  }

  /* ---main--- */
  /* carroussel lancamentos */
  .launch-title > *:nth-child(1){
    font-size: 20px;
  }

  .launch-title > *:nth-child(2){
    text-decoration: none;
  }

  .launch-title > *:nth-child(2):hover{
    text-decoration: underline;
    color: #005CFF;
  }

  .card-product{
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    min-width: 237px;
  }

  .price-product > div{
    right: 35%;
  }

  /* section descricao */
  .description-card{
    flex-direction: row;
  }

  .description-image > img{
    min-width: 420px;
  }

  .description-card2{
    flex-direction: row-reverse;
  }

}

@media (min-width: 1024px) {

  /* ---header--- */
  /* header mobile */
  #c-header-mobile{
    display: none;
  }

  /* header desktop */
  #c-header-desktop{
    display: block;
  }

  /* ---main--- */
  /* carroussel */
  .slide{
    height: 510px;
  }

  .background-slide{
    background-position: center right;
    background-size: 700px;
    background-repeat: no-repeat;
  }

  .super-sale{
    display: flex;
    flex-direction: row;
    font-size: 100px;
    line-height: normal;
  }
  
  .super-sale > *:nth-child(2){
    font-weight: 300;
  }
  
  .infos-sale{
    font-weight: 700;
  }
  
  .infos-sale> *:nth-child(2){
    color: #005CFF;
    font-size: 25px;
    letter-spacing: 5px;
  }
  
  .infos-sale> *:nth-child(3){
    color: #005CFF;
    font-size: 60px;
  }

  .carousel-launch-secondary{
    display: block;
  }

.arrow:hover{
  background-color: #005CFF;
  color: #fff;
}

  /* section descricao */  
  .description-card{
    gap: 30px;
  }

  .description-image > img{
    min-width: 650px;
  }

  .description-image2{
    padding: 50px 16px;
  }

  .description > h2, .description2 > h2{
    font-size: 30px;
  }

  .description > p{
    font-size: 18px;
  }

  .description2{
    gap: 20px;
  }
  
  .sub-description > p {
    font-size: 18px;
  }

  .sub-description-image{
    min-width: 90px;
    min-height: 90px;
  }

  .sub-description-image > img{
    width: 45px;
  }

  /* section disponibilidade */
  #c-availability{
    height: 660px;
    margin: 50px 0;
  }

  #availability-text {
    padding: 45px 0;
    font-size: 30px;
    font-weight: 400;
  }

    /* section cadastro */
    #register-title{
      font-size: 20px;
    }

    #form-register{
      flex-direction: row;
      padding: 65px 16px;
    }

    #name, #email{
      max-width: 260px;
    }
  
    #form-register > input[type="button"] {
      max-width: 121px;
    }

    /* ---footer--- */
    #c-footer1{
      padding: 40px 16px;
    }

    #footer-dektop{
      display: flex;
      gap: 100px;
    }

    #social-media{
      padding: 5px;
    }

    #nav-footer-mobile{
      display: none;
    }

    #nav-footer-desktop{
      display: flex;
    }

    #paymentMethods{
      flex-direction: row;
      padding: 40px 0 0 0;
    }
}